<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FirstWebProject</display-name>
  <welcome-file-list>
    <welcome-file>LoginPage.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.classes.myServletListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Validate</servlet-name>
    <servlet-class>ValidateCredentials</servlet-class>
    <init-param>
      <param-name>Driver</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://127.0.0.1:3306/bankingdatabase?useSSL=false</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>admin</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validate</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
</web-app>